{
  "presets": ["react-app"],
  "env": {
    "production": {
      "plugins": [["transform-remove-console"]]
    }
  },
  "plugins": [
    ["import", { "libraryName": "antd", "style": "css" }, "antd"]
  ]
}
